:root {
  --primary: rgb(136, 58, 234);
  --primary-dark: rgb(49, 10, 101);
  --primary-light: rgba(136, 58, 234, 0.2);
  --secondary: rgb(224, 204, 250);
  --accent: var(--primary);
  --dark: #0a0a0a;
  --light: #1a1a1a;
  --gray: #6c757d;
  --white: #e0e0e0;
  --accent-gradient: linear-gradient(45deg, var(--primary), #8b5cf6);
}

.btn-outline {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.btn-outline:hover {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 32px;
  height: 32px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--secondary);
}

.sidebar {
  position: fixed; 
  top: 0; 
  left: -250px; 
  width: 200px; 
  height: 100%; 
  background: rgba(20, 20, 20, 1); 
  color: var(--text-color);
  padding: 20px; 
  padding-top: 50px;
  transition: left 0.4s ease;
  z-index: 1000; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  font-weight: bold;
  align-items: center;
  gap: 15px;
}

.sidebar a {
  color: var(--accent-light); 
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px; 
  border: 2px solid transparent var(--accent); 
  border-radius: 5px;
  transition: background 0.4s ease, border 0.4s ease, transform 0.4s ease;
}

.sidebar a:hover {
  border: 2px solid rgba(var(--accent), 1); 
  transform: scale(1.05); 
}

.sidebar.active {
  left: 0; 
}

.toggle-sidebar {
  display: none; 
  padding: 10px 15px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-icon {
  width: 30px; 
  height: 30px; 
  vertical-align: middle; 
  transition: transform 0.4s ease;
}

.social-icon:hover {
  transform: scale(1.1); 
  filter: brightness(0.8);
}

.active-section {
  background: rgba(255, 220, 100, 0.8)
  color: var(--accent-dark); 
  border: 3px solid var(--accent); 
  transform: scale(1.02); 
  box-shadow: 0 6px 25px rgba(255, 215, 0, 0.6); 
  animation: glow 3s ease infinite alternate; 
} 

@media (max-width: 768px) {
  .toggle-sidebar {
    display: block; 
    margin: 0; 
  }

  .nav-links {
    display: none;
  }
}
